$color-grey: #D3D3D3;
$color-lightblue: #F0F8FF;

.next,
.prev {
  cursor: pointer;
  top: 50%;
  font-weight: bold;
  font-size: 30px;
  border-radius: 0 3px 3px 0;
  background-color: $color-grey;
  z-index: 10;
  padding: 25px 10px;
  margin-top: 30%;
}

.prev {
  float: left;
  //left: 0px;
}

.next {
  float: right;
  //right: 0px;
}

.next:hover,
.prev:hover {
  transition: 0.5s background-color ease;
  background-color: $color-lightblue;
}